@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display:flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;

  
}

/* Solution */
a{
  text-decoration: none;
  color: hsl(0, 0%, 55%)
}
.footer{
  background-color: #eeeeee;
  display:flex;
  justify-content: space-between;  
  align-content:flex-end;
  flex:1;
  padding: 8px;

}
.header{
  display:flex;
  justify-content: space-between;  
  align-content:flex-end;
  flex:1;
  padding: 8px;
}

.left-links, .right-links {
  display:flex;
  gap:15px;
  padding-right: 15px;
  padding-left: 15px;
  align-items: flex-end;
}
.left-links.top, .right-links.top{
  align-items:flex-start;
}

.content{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;

}